{% extends "base/base.html" %}
{% block content %}
<div class="container-fluid" style="font-size:12px">
	<div class="table-wrapper col-md-12 lemon text-center">
			<div class="table-title">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>Lista de <b>Improductivos</b></h2>
					</div>                
				</div>

			</div>
			<div class="filter">
			<div class='row'>
					<form class="form-inline col-xs-12" method="get" action="{% url 'improductivos:improductivos_list' %}" id="filtro_fecha">
						{{ myFilter.form.non_field_errors }}
                            <div class='form-group margin-xs'  style="margin-bottom: 5px;">
                            	<label class="" for="{{myFilter.form.produccion.id_for_label}}">
                                    Orden de Producción
                                </label>
                                {{ myFilter.form.produccion.error }}
                            	<span style="margin-left: 3px;">{{myFilter.form.produccion}}</span>
                            </div>
                            <div class='form-group margin-xs' style="margin-left: 10px;margin-bottom: 5px; overflow: auto;">
                               	    <label class="" for="{{myFilter.form.problema.id_for_label}}">
                                   		Problema
                               		</label>
                               	<span style="margin-left: 3px">{{myFilter.form.problema}}</span>                       		
                            </div>
                            <div class='form-group margin-xs' style="margin-left: 10px;margin-bottom: 5px">
                            	<label class="" for="{{myFilter.form.tipo_problema.id_for_label}}">
                                    Tipo de Problema
                                </label>
                                	<span style="margin-left: 3px">{{myFilter.form.tipo_problema}}</span>                        	
                            </div>
                            <div class='form-group margin-xs' style="margin-left: 10px;margin-bottom: 5px">
                            	<label class="" for="{{myFilter.form.start_date.id_for_label}}">
                                	Desde
                                </label>
                                	<span style="margin-left: 3px">{{myFilter.form.start_date}}</span>
                                <label class="" for="{{myFilter.form.end_date.id_for_label}}" style="margin-left: 3px">
                                    Hasta
                                </label>
                                	<span style="margin-left: 3px">{{myFilter.form.end_date}}</span>                
                            </div>
                            <div class='form-group' style="margin-left: 10px;margin-bottom: 5px">
                                <button type="submit" class="btn btn-primary" style="font-size: 12px; padding: 8px 8px;">
        							<i class="fas fa-search"></i> Buscar
      							</button>
                                <button type="button"onclick='window.location.href ="{% url 'improductivos:improductivos_list' %}"' class="btn btn-primary" style="font-size: 12px; padding: 8px 8px; margin-bottom: 0px">
        							<i class="fas fa-backspace"></i> Reset
      							</button>
                            	
                            </div>
					</form>
			</div>
			</div>
			<div style="overflow-x:auto;">
			<table class="table table-striped table-hover" style="">
				<thead class="">
					<tr>
						<th>ID</th>
						<th>Problema</th>
						<th>Tipo de Problema</th>
						<th>Comentario</th>
						<th>Numero Manto</th>
						<th>Lineas</th>
						<th>Fecha</th>
						<th>Hora Del Problema</th>
						<th>Hora De Solución</th>
						<th>Tiempo Improductivo</th>
						<th>Producción</th>
						{% if user.is_staff %}
						<th>Acciones</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					<!--si fuera vista basada en función se pasa en el if el contexto "improductivos", el cual se recibe de las vistas-->
					{% for imp in object_list %}
					<!--si fuera vista basada en función se pasa en el if el contexto improductivos, el cual se recibe de las vistas-->
					<tr>
						<td>{{imp.id}}</td>
						<td>{{imp.problema|title|default:"-"}}</td>
						<td>{{imp.tipo_problema|title|default:"-"}}</td>
						<td>{{imp.comentario|default:"-"}}</td>
						<td>{{imp.numero_manto}}</td>
						<td>{% for lineas in imp.numero_linea.all %}
							{{ lineas.linea|add:","|default:"-"}}
							{% endfor %}
						</td>
						<td>{{imp.fecha|default:"-"}}</td>
						<td>{{imp.hora_problema|time:"H:i:s"|default:"-"}}</td>
						<td>{{imp.hora_solucion|time:"H:i:s"|default:"-"}}</td>
						<td>{{imp.tiempo_improductivo|time:"H:i:s"|default:"-"}}</td>
						<td>{{imp.produccion|default:"-"}}</td>
						{% if user.is_staff %}
						<td>
							<div class="display-flex">
								<a class="link-blue" href="{% url 'improductivos:improductivos_edit' imp.id %}" data-toggle="tooltip"  title="Editar">
									<i class="fas fa-edit"></i>
								</a>
								<a class="link-red" href="{% url 'improductivos:improductivos_delete' imp.id %}" data-toggle="tooltip" title="Eliminar">
								<i class="far fa-trash-alt fa-xs"></i>
								</a>
							</div>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
					{% else %}
					<h4>
						No hay registro de improductivos
					</h4>
					{% endif %}
				</tbody>
			</table>
		</div>
			<ul class="pager">
				<li>
					{% if page_obj.has_previous %}
					<a class="" href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&{{ page }}{% endif %}">Atras</a>
					{% endif %}
				</li>
				<li>
					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}{% if request.GET %}&{{ page }}{% endif %}">Siguiente</a>
					{% endif %}
				</li>
			</ul>
	 </div> 
</div>
{% endblock content %}
{% block extrajs %}
<script type="text/javascript">
	$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	});
</script>
{% endblock extrajs %}