{% extends "base/base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
       
        <div class=" col-sm-12 col-lg-12">
    <div class="panel panel-success ">
    
        <div class="text-center panel-heading" id="">
            <h3>
                Llenar Formulario Para Trazabilidad
            </h3>
        </div>
   <div class="panel-body">
    <form class=" lemon " id="form_1" method="post" style="color:black !important">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="text-center col-md-8 col-md-offset-2" id="select_box">
                <div class="form-group">
                    <label>
                        <h4>
                            Seleccione El Tipo De Problema
                        </h4>
                    </label>
                    <div class="">
                        {{form.problema}}
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="form-row">
            <div class="text-center col-md-8 col-md-offset-2" id="text_comentario">
                <div class="form-group">
                    <label for="{{form.comentario.name}}">
                        <h4>
                            Escriba un comentario sobre el problema
                        </h4>
                    </label>
                    <div>
                        {{form.comentario}}
                    </div>
                </div>
                <br>
                <hr>
            </div>
        </div>
        <div class="form-row">
            <div class="text-center col-md-8 col-md-offset-2" id="text_comentario">
                <div class="form-group">
                    <label for="producciones">
                        <h4>
                            Orden de producción
                            <br>
                            <small style="color:#ff3333"> Nota: Si no hay orden de producción debe iniciar una </small>
                            {{form.produccion.errors}}
                        </h4>
                    </label>
                    <div>
                        {{form.produccion}}
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-row">
            <div class="text-center col-md-8 col-md-offset-2">
                <div class="form-group">
                    <button class="btn btn-success" type="submit">
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}