@charset "UTF-8";

body{
	background-color: currentColor;
	margin: 0;
	margin-bottom: 40px;

	
}
html {
	min-height: 100%;
	position: relative;
}

.lemon{
	font-family: 'Oswald', sans-serif;
	color:white;
}
.logo{
	margin:-5px 10px 5px 5px;

}
.letra-negra{
	color:black;
}
.letra-size{
	font-size: :16pt !important;

}
.no-visible{
	display: none;
}
.correcto{
	border: 2px green solid;
}
.incorrecto{
	border:2px red solid;
}
.divpadding{
	padding:  5px 20px 5px 5px;

	
}
.checkbox{
	 display: inline-block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 11px;
		color:#59514C;
		cursor: pointer;
		font-size: 15px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

/* hide the browser's default checkbox */
.checkbox input {
		position: absolute;
		cursor: pointer;

}


/* on mouse-over, add border color */
.checkbox:hover    {
			color:orange !important;

}
/* add background color when the checkbox is checked */
.checkbox input[type="checkbox"]:checked +span
{ 
		
		color: red !important;
		transition: 0.3s;
		font-size: 16px;
	 }
.checkbox input[type="checkbox"]:not(checked) +span
{ 
		
	 
		transition: 0.3s;
		
	 }



footer{

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;

}
	ul#id_problema li{
	display: inline-block;
	font-size: 18px;
	margin:10px 35px 0px 0px;
	
	}
	ul #id_problema_2 li{
		display:inline-block;
		width: auto;
		margin:10px 35px 0px 0px;
		color:orange;

			
		
	}

button,a{
	transition: 0.3s;
 
}

.link-red{
	color:#E31F1F;
}
.link-red:hover{
	color:red;
}

.link-blue{
	color:#246591;
}

.link-green{
	color: #31C038;
}
.link-green:hover{
	color: #06EF11;
}
.display-flex{
	display: flex;
}

hr { 
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 1px solid #ccc;
	margin: 1em 0; 
	padding: 0; 
	}
	@media (max-width: 991px) {
		.navbar-header {
				float: none;
		}
		.navbar-toggle {
				display: block;
		}
		.navbar-collapse {
				border-top: 1px solid transparent;
				box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		}
		.navbar-collapse.collapse {
				display: none!important;
		}
		.navbar-nav {
				float: none!important;
				margin: 7.5px -15px;
		}
		.navbar-nav>li {
				float: none;
		}
		.navbar-nav>li>a {
				padding-top: 10px;
				padding-bottom: 10px;
		}
		.navbar-text {
				float: none;
				margin: 15px 0;
		}
		/* since 3.1.0 */
		.navbar-collapse.collapse.in { 
				display: block!important;
		}
		.collapsing {
				overflow: hidden!important;
		}
}

.margin-btn{
	margin: 5px 10px 5px 10px;
}
.required:after{
		 color: #d00;
		content: "*";
		font-size: 20px;

}
.importante{
	color: #E93613;
	font-weight: bold;
}

.hint{

	visibility: visible;
	opacity: 1;
	max-height: 30px;
	transition: visibility 0s, opacity 1s, max-height 0.3s linear;
}

.ocultar {
	visibility: hidden;
	opacity: 0;
	max-height: 0px;
	transition: max-height 1s, opacity 0.3s, visibility 0.3s linear;
}


/* Tablas*/

.table-wrapper {
				background: #fff;
				padding: 20px 25px;
				margin: 30px 0;
				border-radius: 3px;
				box-shadow: 0 1px 1px rgba(0,0,0,.05);
				color:#566787;
		}
	.table-title {
		padding-bottom: 15px;
		background: #1A5276;
		color: #fff;
		padding: 16px 30px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
		}
		.table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	table.table tr th, table.table tr td {
		border-color: #e9e9e9;
		padding: 12px 15px;
		vertical-align: middle;
		text-align: center;
		}
	table.table tr th:first-child {
		width: 60px;
	}
	table.table tr th:last-child {
		width: 100px;
	}
		table.table-striped tbody tr:nth-of-type(odd) {
			background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #D6EEFF; /*hover file*/
		color:black;
	}
		table.table th i {
				font-size: 13px;
				margin: 0 5px;
				cursor: pointer;
		} 
		table.table td:last-child i {
		opacity: 0.9;
		font-size: 22px;
				margin: 0 5px;
		}
	 .status {
		font-size: 30px;
		margin: 2px 2px 0 0;
		display: inline-block;
		vertical-align: middle;
		line-height: 10px;
	}
		.text-success {
				color: #10c469;
		}
		.text-info {
				color: #62c9e8;
		}
		.text-warning {
				color: #FFC107;
		}
		.text-danger {
				color: #ff5b5b;
		}
		.pagination {
				float: right;
				margin: 0 0 5px;
		}
		.pagination li a {
				border: none;
				font-size: 13px;
				min-width: 30px;
				min-height: 30px;
				color: #999;
				margin: 0 2px;
				line-height: 30px;
				border-radius: 2px !important;
				text-align: center;
				padding: 0 6px;
		}
		.pagination li a:hover {
				color: #666;
		} 
		.pagination li.active a, .pagination li.active a.page-link {
				background: #03A9F4;
		}
		.pagination li.active a:hover {        
				background: #0397d6;
		}
	.pagination li.disabled i {
				color: #ccc;
		}
		.pagination li i {
				font-size: 16px;
				padding-top: 6px
		}
		.hint-text {
				float: left;
				margin-top: 10px;
				font-size: 13px;
		}