@charset "UTF-8";

body{
  background-color: currentColor;
  margin: 0;
  margin-bottom: 40px;

  
}
html {
  min-height: 100%;
  position: relative;
}

.lemon{
	font-family: 'Oswald', sans-serif;
	color:white;
}
.logo{
	margin:-5px 10px 5px 5px;

}
.letra-negra{
	color:black;
}
.letra-size{
	font-size: :16pt !important;

}
.no-visible{
	display: none;
}
.correcto{
	border: 2px green solid;
}
.incorrecto{
	border:2px red solid;
}
.divpadding{
  padding:  5px 20px 5px 5px;

  
}
.checkbox{
   display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 11px;
    color:#59514C;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    cursor: pointer;

}


/* on mouse-over, add border color */
.checkbox:hover    {
      color:orange !important;

}
/* add background color when the checkbox is checked */
.checkbox input[type="checkbox"]:checked +span
{ 
    
    color: red !important;
    transition: 0.3s;
    font-size: 16px;
   }
.checkbox input[type="checkbox"]:not(checked) +span
{ 
    
   
    transition: 0.3s;
    
   }



footer{

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

}
  ul#id_problema li{
  display: inline-block;
  font-size: 18px;
  margin:10px 35px 0px 0px;
  
  }
  ul #id_problema_2 li{
    display:inline-block;
    width: auto;
    margin:10px 35px 0px 0px;
    color:orange;

      
    
  }
table, th, td {
  border: 1px solid orange;
  border-collapse: collapse;
  text-align: center;
}
button,a{
  transition: 0.3s;
 
}
hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0; 
  }
  @media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.margin-btn{
  margin: 5px 10px 5px 10px;
}
.required:after{
     color: #d00;
    content: "*";
    font-size: 20px;

}

